apiVersion: v1
kind: Namespace
metadata:
  name: webapps
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
  namespace: webapps
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
        - name: my-app
          image: <YOUR_DOCKER_REPO>:latest   # e.g. youruser/boardshack:latest
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: my-app-svc
  namespace: webapps
spec:
  type: NodePort
  selector:
    app: my-app
  ports:
    - port: 80
      targetPort: 8080
      nodePort: 31508   
